{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Série {{ program.title }}, Saison #{{ season.number }}, Episode #{{ episode.number }}
{% endblock %}
{% block body %}
    <h2>Episode #{{ episode.number }} de la saison #{{ season.number }} de {{ program.title }}</h2>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">{{ episode.title }}</h5>
            <h5 class="card-title">Résumé:</h5>
            <p>{{ episode.synopsis }}</p>
            <p class="text-decoration-underline">Commentaires:</p>
            {% for comment in comments %}
                <ul class="list-group">
                <li class="list-group-item">
            <p class="fst-italic">{{ comment.author.email }}</p>
                <p>Note: {{ comment.rate }}/5</p>
            <p>{{ comment.comment }}</p>
                </li>
                </ul>
            {% else %}
            <p>Pas de commentaire pour le moment</p>
            {% endfor %}
            {% if app.user %}
            <p>Laisser un commentaire:</p>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type='submit' value='Add comment'>
                {{ form_end(form) }}
            {% endif %}
        </div>
    <a href="{{ path("program_season_show", {'slug': program.slug, 'season': season.id }) }}">Retour à la liste des épisodes</a>
{% endblock %}
