{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ program.title }}, Saison #{{ season.number }}
{% endblock %}
{% block body %}
    <h2>Saison #{{ season.number }} de {{ program.title }}</h2>
    <p>{{ season.description }}</p>
    <h3>Liste des épisodes :</h3>
    {% for episode in season.episodes %}
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Episode {{ episode.number }}: <a href="{{ path("program_episode_show", {'program': program.id, 'season': season.id, 'episode': episode.id }) }}">{{ episode.title }}</a></li>
            </ul>
        </div>
    {% endfor %}
    <a href="{{ path("program_show", {'slug': program.slug }) }}">Retour à la fiche de {{ program.title }}</a>
{% endblock %}
