{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ program.title }}, Saison #{{ season.number }}
{% endblock %}
{% block body %}
<h2>Saison #{{ season.number }} de {{ program.title }}</h2>
<p>{{ season.description }}</p>
<h3>Liste des épisodes :</h3>
{% for episode in season.episodes %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Episode {{ episode.number }}: {{ episode.title }}</li>
        </ul>
    </div>
{% endfor %}
    <a href="{{ path("program_show", {id: program.id }) }}">Retour à la fiche de {{ program.title }}</a>
{% endblock %}