{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Série #{{ program.id }}
{% endblock %}
{% block body %}
    <div class="card" style="width: 18rem;">
        <img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }} poster">
        <div class="card-body">
            <h5 class="card-title">{{ program.title }}</h5>
            <p class="card-text">{{ program.summary }}</p>
            {% for season in program.seasons %}
                <a href="{{ path('program_season_show', {'program': program.id, 'season': season.id }) }}"><p>Saison #{{ season.number }}</p></a>
                {% else %}
                <p>Aucune saison trouvée</p>
            {% endfor %}
            <a href="{{ path('category_index') }}" class="btn btn-primary">Catégorie : {{ program.category.name }}</a>
        </div>
    </div>
    <a href="{{ path('program_index') }}">
        Retour à la liste des séries
    </a>

{% endblock %}