<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{{ asset('build/logo.png') }}" alt="logo wild séries" width="150px"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('app_index') }}"><i class="fas fa-home"></i> Accueil</a>
            <a class="nav-item nav-link" href="{{ path('program_index') }}"><i class="fas fa-tv"></i> Séries</a>
            <a class="nav-item nav-link" href="{{ path('category_index') }}"><i class="fas fa-search"></i> Catégories</a>
            <a class="nav-item nav-link" href="{{ path('actor_index') }}"><i class="fas fa-users"></i> Casting</a>
            <a class="nav-item nav-link" href="#"><i class="far fa-heart"></i> Mes favoris</a>
            <a class="nav-item nav-link" href="{{ (app.user) ? path('my-profile') : path('app_login') }}"><i class="far fa-address-card"></i>{{ (app.user) ? " Mon compte" : " Se connecter" }}</a>
            {% if app.user %}
                <a class="nav-item nav-link" href="{{ path('app_logout') }}"> Se déconnecter</a>
            {% endif %}
        </div>
    </div>
</nav>
